%table.table.table-bordered
	%tr
		%td
			%h1{:align => "left"}
				= @program_location.name
		%td.col-md-6
			= link_to @program_location.program.name + " Home", program_path(@program_location.program), class:'btn btn-primary col-md-6'

			= link_to "Do Attendance", attendance_program_location_path, class:'btn btn-primary col-md-6'

%h2 Students Enrolled Here
%table.table.table-striped.table-bordered
	%thead
		%tr
			%th.col-md-3
				First Name
			%th.col-md-3
				Last Name
			%th.col-md-3
	%tbody
		- @enrolled_students.each do |student|
			%tr
				%td
					= student.firstName
				%td
					= student.lastName
				%td
					= link_to "Drop", program_enrollment_path(student: student, program_location: @program_location.id), :method => :delete, class:'btn btn-danger col-md-4'